<div class="container pt-5">
    <h4>Education</h4>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <div class="timeline-content">
                        <span class="timeline-year">2020</span>
                        <h3 class="title">BACHELOR OF TECHNOLOGY</h3>
                        <p class="description">Computer Science and Engineering</p>
                        <p class="description">St. Thomas Institute for Science & Technology</p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <span class="timeline-year">2016</span>
                        <h3 class="title">HIGHER SECONDARY EDUCATION</h3>
                        <p class="description"> Science</p>
                        <p class="description">NSS HSS, Palkulangara</p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <span class="timeline-year">2014</span>
                        <h3 class="title">Secondary Level School Certificate</h3>
                        <p class="description">St. Mary’s HSS, Pattom</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>