<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<div class="containerHome">
    <div class="d-flex justify-content-center">
        <div class="row ">
            <div class="col-sm-4 ">
                <img src="https://www.w3schools.com/w3images/avatar2.png " class="img-thumbnail " alt="... ">
            </div>
            <div class="col-sm-6 ">
                <div class="jumbotron ">
                    <h1 class="display-4 ">Hello,</h1>
                    <h2 class="display-6 ">I'm <b>Anantha Ramanathan A</b></h2>
                    <p class="lead ">Java Full Stack Developer with Angular </p>
                    <hr class="my-4 ">
                    <p>Contact me</p>
                    <div class="iconDiv">
                        <i class="material-icons android ">android</i>
                        <i class="material-icons facebook ">facebook</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>