<div class="container pt-5">
    <h4>Projects</h4>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Fauna Recognition and Alert </h5>
                    <p class="card-text">
                        The increasing trend of machine learning applications in computer vision help to monitor the endangered birds species. So, we have a proper statistic of each bird in the forest. Similarly, if any sudden drop in the particular species of bird will be easily
                        identified. Through the website we can also get the updates of the birds in the forest and which are the hotspot regions. It also generate alert message to respective departments.
                    </p>
                    <div>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">GSM and GPS Based School Bus Tracking System </h5>
                    <p class="card-text">
                        Many students are late for the class because they decide to wait for school bus instead of just simply using alternate transportation. Parents are worried about their children's safety due to increase in kidnapping. The system also contains attendance
                        record and generate alert message.

                    </p>
                    <div>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Online Salon Application</h5>
                    <p class="card-text">
                        Many students are late for the class because they decide to wait for school bus instead of just simply using alternate transportation. Parents are worried about their children's safety due to increase in kidnapping. The system also contains attendance
                        record and generate alert message.
                    </p>
                    <div>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Online Salon Application</h5>
                    <p class="card-text">
                        Many students are late for the class because they decide to wait for school bus instead of just simply using alternate transportation. Parents are worried about their children's safety due to increase in kidnapping. The system also contains attendance
                        record and generate alert message.
                    </p>
                    <div>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                        <span class="badge">Intern</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>