<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container pt-5">
    <h4>Experirnce</h4>
    <hr>
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="timeline">
                        <div class="timeline-row">
                            <div class="timeline-time">
                                2015<small>7 days</small>
                            </div>
                            <div class="timeline-content">
                                <h4>Keltron Knowledge Center</h4>
                                <p>About computer hardware, networking and routing.</p>
                                <div>
                                    <span class="badge badge-light">Intern</span>
                                </div>

                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
                                2021 June<small>Present</small>
                            </div>
                            <div class="timeline-content">
                                <h4>CG</h4>
                                <p>
                                    Java Full Stack Developer.
                                </p>
                                <div class="">
                                    <span class="badge badge-light">Analyst</span>
                                    <span class="badge badge-light">Software Engineer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>